:root {
  --background-color: #ffffff;
}
/*FlexBox style*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
}
img {
  display: block;
}
/*header flex*/
.header-section {
  border-bottom: 1px solid #e7e9fc;
}
.address .list {
  display: flex;
  gap: 40px;
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-list .list {
  display: flex;
  padding: 24px 0;
  gap: 40px;
  margin-right: 332px;
}
.nav-list .link-logo {
  margin-right: 76px;
  padding: 24px 0;
}

.container {
  display: flex;
  width: 1158px;
  padding: 0 15px;
  margin: 0;
  margin: 0 auto;
}
.nav-list .header-list {
  padding: 24px 0;
}
.nav-list .link {
  padding: 24px 0;
}
/*section 1*/
.section-hero {
  text-align: center;
  padding: 188px 0;
}
.hero-title {
  display: flex;
  max-width: 496px;
  flex-direction: column;
  flex-shrink: 0;
}
.button-hero {
  display: block;
  height: 56px;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
}
/*section 2*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-two {
  padding: 120px 0;
}
.section-two .list {
  display: flex;
  gap: 24px;
}
.section-two .title {
  margin-bottom: 8px;
}
.list .item-two {
  width: calc((100% - 72px) / 4);
}
/*section 3*/
.section-three {
  padding-bottom: 120px;
}
.section-three .title-foto {
  text-align: center;
  margin-bottom: 72px;
}
.section-three .list {
  display: flex;
  gap: 24px;
}
.section-three .list-img {
  width: calc((100% - 48px) / 3);
}
/*section 4*/
.tem-section {
  padding: 120px 0;
}
.tem-section .title-foto {
  margin-bottom: 72px;
}
.tem-section .list {
  display: flex;
  gap: 24px;
}
.container .ten-staff {
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
}
.tem-section .tem-list {
  padding: 32px 16px;
}
.tem-list .title {
  text-align: center;
  margin-bottom: 8px;
}
.tem-list .text {
  text-align: center;
}
/*footer*/
.footer {
  padding: 100px 0;
}
.footer .link {
  display: inline-block;
  margin-bottom: 16px;
}
/*portfolio flex*/
.section-main {
  padding-top: 96px;
  padding-bottom: 120px;
}
.section-main .list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.section-main .button-portfolio {
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.section-main .img-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.section-main .link-img {
  width: calc((100% - 48px) / 3);
}
.section-main .box-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
/*end flex...*/
/*header*/
.links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.links:focus,
.links:hover {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.link-logo .link {
  text-decoration: none;
}
.link {
  text-decoration: none;
}
.link-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: #4d5ae5;
}
.studio-dark {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.address {
  font-style: normal;
}

.address .link {
  color: #434455;
}
.address .link:hover,
.address .link:focus {
  color: #404bbf;
}

.header-item .list {
  color: #2e2f42;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-item .list:focus,
.header-item .list:hover {
  color: #404bbf;
}
.address {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*section 1*/
.section-hero {
  background-color: #2e2f42;
}
.section-hero .hero-title {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.button-hero {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
}
.button-hero:focus,
.button-hero:hover {
  background-color: #404bbf;
}
/*section2*/
.list {
  list-style: none;
}
.list .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.list .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*sektions3*/
.title-foto {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
/*sections4*/

.ten-staff {
  background-color: #ffffff;
}
.tem-section {
  background-color: #f4f4fd;
}
.list .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.list .text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  color: #434455;
}
/*footer*/
.footer {
  background-color: #2e2f42;
}
.studio-dark {
  background-color: #f4f4fd;
}
.footer .text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
/*portfolio*/
.button-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.button-portfolio {
  background-color: #f4f4fd;
}
.button-portfolio:focus,
.button-portfolio:hover {
  color: #ffffff;
}
.button-portfolio:focus,
.button-portfolio:hover {
  background-color: #404bbf;
}

/*portfolio img*/
.foto .link {
  text-decoration: none;
}
.portfolio-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-text {
  color: #434455;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*footer*/
.footer .studio-dark {
  color: #f4f4fd;
}
